# Server
NODE_ENV=development
PORT=3000

# Firebase
# In local/dev, you might need:
# GOOGLE_APPLICATION_CREDENTIALS=/path/to/service-account.json

# Admin Email
ADMIN_EMAIL=abbahabdulsalam1@gmail.com

# Paystack (Mocking for now as we don't have keys)
PAYSTACK_SECRET_KEY=
PAYSTACK_PUBLIC_KEY=

# Resend / SendGrid
RESEND_API_KEY=

# WhatsApp
WA_PHONE_ID=
WA_TOKEN=
